p img {
  width: 16px;
  height: 16px;
  margin-right: 1vw;
}
.modal-title div:first-child {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

.modal-item {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin-bottom: 4.5vh;
  position: relative;
}
.modal-item strong {
  position: absolute;
  top: 3.5vh;
  left: 16px;
  margin-left: 1vw;
  font-size: 14px;
}

#vacinne-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.modal-item-title {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #202c2b;
  margin: 0;
}

.ant-modal-close-x {
  margin-right: -10px;
}

@media only screen and (max-width: 720px) {
  .card-container {
    margin: 0;
  }
}
